<h3>All your contacts</h3>

<ul>
  <% @people.each do |person| %>
    <li> 
      <%= link_to(person.name, person_path(person.id)) %>
      <%= link_to("Add phone", new_person_phone_path(person.id)) %>
      <%= link_to("Add email", new_person_email_path(person.id)) %>

    </li>
 <% end %>
</ul>

<%= link_to('Go Back', '/') %>

